/* STYLESHEET */

/* BODY */
body {

}

/* CLASS */
.page, .background {
    position: absolute; 
    top: 0%; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.bg_index {
    z-index: -1; 
}

div.page_top {
    position: absolute; 
    top: 0%; 
    width: 100%; 
    height: 10%;
}

div.page_bottom {
    position: absolute; 
    top: 90%; 
    width: 100%; 
    height: 10%;
}

p.title {
    font-size: 1.6em; 
}

p.paragraph {
    font-size: 0.75em;
}

img.arrow {
    position: absolute; 
    left: 50%; 
    width: 30px; 
    height: 15px;
    margin: 0 0 0 -15px; 
    opacity: 0.8;
}

img.arrow_top {
    position: absolute; 
    top: 15%;
}

img.arrow_bottom {
    position: absolute; 
    top: 55%;
}

img.header {
    position: absolute; 
    left: 80%; 
    width: 60px; 
    margin: 0 0 0 -30px; 
}

/* LOADING */
#loading { 
    z-index: 999; 
    background: white;
}

/* COVER */
#cover {
    z-index: 5; 
    overflow: hidden; 
}

#title {
    position: absolute; 
    top: 10%; 
    width: 100%; 
    height: 30%; 
}

#title_bg {
    position: absolute; 
    left: 50%; 
    width: 180px; 
    margin: 0 0 0 -90px; 
}

div.t {
    position: absolute; 
    left: 50%; 
    width: 100px; 
    margin: 0 0 0 -50px; 
    text-align: center; 
    vertical-align: middle;
}

div.t1 {
    top: 35%; 
    color: white; 
    font-size: 12px;
}

div.t2 {
    top: 130%; 
    color: pink;
}

div.t3 {
    top: 145%; 
    color: pink;
}

div.t4 {
    top: 160%; 
    color: pink;
}

div.t5 {
    top: 190%; 
    font-size: 5px;
}

div.t6 {
    top: 85%; 
}

p.cover_hint {
    font-size: 1.2em;
    color: white; 
    opacity: 0.8; 
}

#cover_arrow {
    position: absolute; 
    top: 80%; 
    left: 50%; 
    width: 40px; 
    margin: 0 0 0 -20px; 
    opacity: 0.8; 
}

/* PAGE1 */
#page1 {
    z-index: 4; 
    overflow: hidden; 
}

#page1_photo {
    position: absolute; 
    /*top: 10%; */
    left: 0;
    width: 100%; 
    margin: 0 0 0 0;
}

#page1_text_title_container {
    position: absolute; 
    top: 55%; 
    width: 100%; 
    height: 25%; 
    z-index: -1;
}

#page1_text_container {
    position: absolute; 
    top: 75%; 
    width: 100%; 
    height: 25%; 
    z-index: -1;
}

p.page1_text_title {
    z-index: 0;
    color: pink;
    font-size: 30px;
    padding: 1.0em; 
}

p.page1_text {
    z-index: 0;
    color: pink;
    font-size: 10px;
    padding: 1.0em; 
}

/* PAGE2 */
#page2 {
    z-index: 3; 
    overflow: hidden; 
}

div.gallery {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 100%;
    text-align: center;
}

img.gallery_photo {
    position: absolute;
    top: 0;
    width: 80%;
    text-align: center;
}

/* PAGE3 */
#page3 {
    z-index: 2; 
    overflow: hidden; 
}

/* PAGE4 */
#page4 {
    z-index: 1; 
    overflow: hidden; 
}
